*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    background-color: #fff;
    width: 1600px;
    margin: auto;
    border: 2px solid grey;
}
h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
    padding: 0;
}
.container {
    width: 1200px;
    padding: 0;
    margin: 0 auto;
    border: 2px solid red;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.navigation {
    height: 80px;
    display: flex;
    align-items: center;
    /* padding-left: 453px; */
    width: 254px;
    height: 16px;
}
.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    font-family: "Raleway", sans-serif;
    /* padding-top: 24px; */
    width: 145px;
    height: 31px;
    text-decoration: none;
    color: var(--black);
}
:root {
    --blue: #2196f3;
    --white: #fff;
    --black: #000;
    --dark: #2f303a;
    --grey: #e5e5e5;
    --grey1: #757575;
}
.web {
    color: var(--blue);
}
.logo-link {
}
.logo-link:hover {
    color: var(--dark);
}

.list {
    display: flex;
    list-style: none;
    text-align: center;
    padding-left: 20ś4px;
}
.item-head {
}
.header_nav {
    display: flex;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.02em;
    padding-left: 30px;
}
.header_nav:focus {
    color: #646464;
}
.header_nav:hover {
    color: #646464;
}
.portfolio {
    text-decoration: none;
    color: var(--black);
}
.portfolio:hover {
    color: var(--blue);
    text-decoration: none;
}
.contact-nav {
    display: flex;
    list-style: none;
    padding-top: 8px;
    padding-left: 78px;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.02em;
    color: var(--grey1);
}
.link-address {
    color: var(--grey1);
}
.link-address:hover {
    color: #646464;
}
.link-address:focus {
    color: var(--dark);
}
.item-head{
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  width: 694px;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 30px;
  color: #ffffff;
  text-align: center;
  }
/* część main */
.button {
    line-height: 1.6em;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    font-size: 16px;
    line-height: 1.62em;
    color: var(--white1);
}
.box {
    height: 38px;
    border-radius: 4px;
    background-color: #f5f4fa;
    cursor: pointer;
}
.box1 {
    width: 121px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}
.box2 {
    width: 93px;
}
.box3 {
    width: 114px;
}
.box4 {
    width: 91px;
}
.box5 {
    width: 121px;
}
.box1:hover {
    background-color: #1085e2;
    color: var(--white);
}
.number {
    display: flex;
    background-color: var(--white);
}

.img {
    border: 1px solid #eeeeee;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.fig-frist {
    font-weight: 700;
    font-size: 18px;
    line-height: 2em;
    letter-spacing: 0.06em;
    color: #212121;
}
.fig-second {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88em;
    letter-spacing: 0.03em;
    color: #757575;
}
/* main index.html */
.item-head {
    background-color: var(--dark);
    width: 1600px;
}
.title {
    font-size: 44px;
    line-height: 1.36em;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
    padding-top: 200px;
    padding-left: 452px;
    font-weight: 900;
    width: 1200px;
    height: 600px;
}

.iteam-button {
    padding-top: 50px;
    padding-left: 700px;
}
.box-frist {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: #2196f3;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8rem;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white);
}
.box-frist:hover {
    cursor: pointer;
    background-color: var(--blue);
}
.lorem {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}
.lorem-list {
    list-style: none;
}
.text {
    width: 270px;
    height: 75px;
    text-align: justify;
}
.header-text {
    margin-left: 40px;
}
.list-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.he-she {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}
.our {
    list-style: none;
}
/* footer */
.footer {
    background-color: var(--dark);
    color: var(--white);
    /* height: 252px; */
    /* padding: 10px; */
}
.logo-item {
    text-decoration: none;
    color: black;
}
.logo-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: 0.03em;
    padding-top: 111px;
    padding-left: 215px;
}
.contact {
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71em;
}
.nav_footer {
    line-height: 1.14em;
    letter-spacing: 0.02em;
    list-style: none;
}
a[title] {
    text-decoration: underline;
}
.footer > .link-address {
    color: var(--white);
}
